

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=aglet_movies
DB_USER=root
DB_PASSWORD=123456

#MOVIEDB
API_KEY=""
ACCESS_TOKEN=""

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://127.0.0.1:3000,http://127.0.0.1:5173,